variables:
  PACKAGE_PATH: /go/src/gitlab.com/hypnoglow/example-go-docker-gitlab

cache:
  paths:
    - /apt-cache
    - /go/src/github.com
    - /go/src/golang.org
    - /go/src/google.golang.org
    - /go/src/gopkg.in

artifacts:
  paths:
    - ./golden_fly


stages:
  - build
  - deploy

# A hack to make Golang-in-Gitlab happy
.anchors:
  - &inject-gopath
      mkdir -p $(dirname ${PACKAGE_PATH})
      && ln -s ${CI_PROJECT_DIR} ${PACKAGE_PATH}
      && cd ${PACKAGE_PATH}

build:
  stage: build
  image: golang:1.13.4
  script:
    - env GOOS=linux GOARCH=amd64 go build 
  only:
    - prod


prod-deploy:
  stage: deploy
  image: instrumentisto/rsync-ssh:latest
  environment:
    name: prod
  script:
    - eval $(ssh-agent -s)
    - echo "$PROD_SERVERS_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - scp ./golden_fly $PROD_USERNAME@$PROD_HOST:$PROD_FOLDER
  only:
    - prod


